<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Document</title>
    </head>
    <body>
        <h1>Ignora o verde</h1>
        
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/2970796f7d.js"></script>
        <script src="/jquery.mask.min.js"></script>
    </body>
</html>